<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create a new user account for GITS</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="accountType">Select Account Type:</label>
                            <select class="form-control" id="accountType" ng-model="registration.accountType" ng-change="setAccountType()">
                                <option>Admin</option>
                                <option>City Crew</option>
                                <option>Law Enforcement</option>
                            </select>
                        </div>
                        <br>

                        <div class="error nameError hide">All name entries must be filled out</div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="firstName" id="firstName" class="form-control input-sm" placeholder="First Name" ng-model="registration.firstName" ng-change="setFirstName()" ng-maxlength="20">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="middleInitial" id="middleInitial" class="form-control input-sm" placeholder="M.I." ng-model="registration.middleInitial" ng-change="setMiddleInitial()" ng-maxlength="1">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="lastName" id="lastName" class="form-control input-sm" placeholder="Last Name" ng-model="registration.lastName" ng-change="setLastName()" maxlength="20">
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="error usernameError hide">Username is empty</div>
                        <div class="form-group">
                            <input type="username" name="username" id="username" class="form-control input-sm" placeholder="Username" ng-model="registration.username" ng-change="setUsername()">
                        </div>

                        <div class="error emailError hide">Email field is empty</div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email" ng-model="registration.email" ng-change="setEmail()">
                        </div>

                        <div class="error employeeNumberError hide">Employee Numbers should not contain non-numbers</div>
                        <div class="form-group">
                            <input type="employeeNumber" name="employeeNumber" id="employeeNumber" class="form-control input-sm" placeholder="Employee Number" ng-model="registration.employeeNumber" ng-change="setEmployeeNumber()">
                        </div>

                        <div class="error employeeTitleError hide">Employee title is empty</div>
                        <div class="form-group">
                            <input type="employeeTitle" name="employeeTitle" id="employeeTitle" class="form-control input-sm" placeholder="Employee Title" ng-model="registration.employeeTitle" ng-change="setEmployeeTitle()">
                        </div>
                        <br>

                        <div class="error passwordError hide">Passwords do not match. Try again</div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="registration.password" ng-change="setPassword()">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control input-sm" placeholder="Confirm Password" ng-model="registration.passwordConfirmation" ng-change="checkPassword()">
                                </div>
                            </div>
                        </div>

                        <div class="hide supervisor-select checkbox">
                            <label><input type="checkbox" value="isSupervisor" id="supervisorCheckbox">Supervisor?</label>
                        </div>

                        <div class="error submissionError hide">*Please resolve above errors*</div>
                        <input type="submit" value="Register" class="btn btn-info btn-block" ng-click="registerUser()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>