<div class="container" ng-show="isAuthorizedToSeeReports()">
    <div class="row centered-form">
        <!-- Modal Trigger -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reportingModal">Create Report</button>
        <!-- Modal -->
        <div id="reportingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reporting</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="buildingType">Select Building Type:</label>
                                <select class="form-control" id="buildingType" ng-model="report.buildingType" ng-change="setBuildingType()">
                                    <option>Apartment</option>
                                    <option>Alley</option>
                                    <option>Billboard</option>
                                    <option>Business/Storefront</option>
                                    <option>House</option>
                                    <option>Highway</option>
                                    <option>Public Utility</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control input-sm" id="description"></textarea>
                            </div>

                            <div class="error addressError hide">Address is empty</div>
                            <div class="form-group">
                                <input type="text" name="address" id="address" class="form-control input-sm" placeholder="Address" ng-model="report.address" ng-change="setAddress()" ng-maxlength="20">
                            </div>

                            <div class="error zipCodeError hide">Zipcode is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="zipCode" id="zipCode" class="form-control input-sm" placeholder="Zip Code" ng-model="report.zipCode" ng-change="setZipCode()">
                            </div>

                            <div class="error zipCodeError hide">Cross Sreet 1 is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="crossStreet1" id="crossStreet1" class="form-control input-sm" placeholder="First Cross Street" ng-model="report.crossStreet1" ng-change="setCrossStreet1()">
                            </div>

                            <div class="error zipCodeError hide">Cross Sreet 2 is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="crossStreet2" id="crossStreet2" class="form-control input-sm" placeholder="Second Cross Street" ng-model="report.crossStreet2" ng-change="setCrossStreet2()">
                            </div>

                            <div class="submission">
                                <div class="error submissionError hide">*Please resolve above errors*</div>
                                <input type="submit" value="Submit" class="btn btn-primary btn-block" ng-model="report.submit" ng-click="submitReport()">
                            </div>
                            <img class="loading-gif hide" src="https://2.bp.blogspot.com/-ndystUcbb1M/VgbHD_q-6GI/AAAAAAAAAIc/y9pivAG7HEI/s1600/loading3.gif">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default center-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-hide="isAuthorizedToSeeReports()">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reporting</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                            <div class="form-group">
                                <label for="buildingType">Select Building Type:</label>
                                <select class="form-control" id="buildingType" ng-model="report.buildingType" ng-change="setBuildingType()">
                                    <option>Apartment</option>
                                    <option>Alley</option>
                                    <option>Billboard</option>
                                    <option>Business/Storefront</option>
                                    <option>House</option>
                                    <option>Highway</option>
                                    <option>Public Utility</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control input-sm" id="description"></textarea>
                            </div>

                            <div class="error addressError hide">Address is empty</div>
                            <div class="form-group">
                                <input type="text" name="address" id="address" class="form-control input-sm" placeholder="Address" ng-model="report.address" ng-change="setAddress()" ng-maxlength="20">
                            </div>

                            <div class="error zipCodeError hide">Zipcode is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="zipCode" id="zipCode" class="form-control input-sm" placeholder="Zip Code" ng-model="report.zipCode" ng-change="setZipCode()">
                            </div>

                            <div class="error zipCodeError hide">Cross Sreet 1 is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="crossStreet1" id="crossStreet1" class="form-control input-sm" placeholder="First Cross Street" ng-model="report.crossStreet1" ng-change="setCrossStreet1()">
                            </div>

                            <div class="error zipCodeError hide">Cross Sreet 2 is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="crossStreet2" id="crossStreet2" class="form-control input-sm" placeholder="Second Cross Street" ng-model="report.crossStreet2" ng-change="setCrossStreet2()">
                            </div>

                            <div class="submission">
                                <div class="error submissionError hide">*Please resolve above errors*</div>
                                <input type="submit" value="Submit" class="btn btn-primary btn-block" ng-model="report.submit" ng-click="submitReport()">
                            </div>
                            <img class="loading-gif hide" src="https://2.bp.blogspot.com/-ndystUcbb1M/VgbHD_q-6GI/AAAAAAAAAIc/y9pivAG7HEI/s1600/loading3.gif">
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="isAuthorizedToSeeReports()">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reports</h3>
                </div>
                <div class="report-loading">
                    <img class="loading-gif" src="https://2.bp.blogspot.com/-ndystUcbb1M/VgbHD_q-6GI/AAAAAAAAAIc/y9pivAG7HEI/s1600/loading3.gif">
                </div>
                <div class="panel-body report-view hide">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th><a href="#">Date</a></th>
                                <th><a href="#">Address</a></th>
                                <th><a href="#">Description</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in reports | orderBy: '-date'">
                                <td>{{ report.date }}</td>
                                <td>{{ report.location.address }}</td>
                                <td>{{ report.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
