<div class="container" ng-if="isAuthorizedToSeeReports()">
    <div class="row centered-form">
        <!-- Modal -->
        <div id="reportingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reporting</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">     
                                <div class="error buildingTypeError hide">Did not choose a building type</div>
                                <label for="buildingType">Select Building Type:</label>
                                <select class="form-control" id="buildingType" ng-model="report.buildingType" ng-change="setBuildingType()">
                                    <option>Apartment</option>
                                    <option>Alley</option>
                                    <option>Billboard</option>
                                    <option>Business/Storefront</option>
                                    <option>House</option>
                                    <option>Highway</option>
                                    <option>Public Utility</option>
                                    <option>Wall</option>
                                    <option>Sidewalk</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="error descriptionError hide">Did not enter a description</div>
                                <label for="description">Description:</label>
                                <textarea class="form-control input-sm" id="description" ng-model="report.description" ng-change="setDescription()"></textarea>
                            </div>

                            <div class="error addressError hide">Address is empty</div>
                            <div class="form-group">
                                <input type="text" name="address" id="address" class="form-control input-sm" placeholder="Address (Optional)" ng-model="report.address" ng-change="setAddress()" ng-maxlength="20">
                            </div>

                            <div class="error zipCodeError hide">Zipcode is empty</div>
                            <div class="error zipCodeNotNumberError hide">Zipcode is not a number</div>
                            <div class="form-group">
                                <input type="text" name="zipCode" id="zipCode" class="form-control input-sm" placeholder="Zip Code" ng-model="report.zipCode" ng-change="setZipCode()">
                            </div>

                            <div class="error crossStreet1Error hide">Cross Street 1 is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="crossStreet1" id="crossStreet1" class="form-control input-sm" placeholder="First Cross Street" ng-model="report.crossStreet1" ng-change="setCrossStreet1()">
                            </div>

                            <div class="error crossStreet2Error hide">Cross Street 2 is incorrect</div>
                            <div class="form-group">
                                <input type="text" name="crossStreet2" id="crossStreet2" class="form-control input-sm" placeholder="Second Cross Street" ng-model="report.crossStreet2" ng-change="setCrossStreet2()">
                            </div>

                            <div class="submission">
                                <div class="error submissionError hide">*Please resolve above errors*</div>
                                <input type="submit" value="Submit" class="btn btn-primary btn-block" ng-model="report.submit" ng-click="submitReport()">
                            </div>
                            <img class="loading-gif hide" src="https://2.bp.blogspot.com/-ndystUcbb1M/VgbHD_q-6GI/AAAAAAAAAIc/y9pivAG7HEI/s1600/loading3.gif">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default center-block" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-if="!isAuthorizedToSeeReports()">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Reports</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">     
                            <div class="error buildingTypeError hide">Did not choose a building type</div>
                            <label for="buildingType">Select Building Type:</label>
                            <select class="form-control" id="buildingType" ng-model="report.buildingType" ng-change="setBuildingType()">
                                <option>Apartment</option>
                                <option>Alley</option>
                                <option>Billboard</option>
                                <option>Business/Storefront</option>
                                <option>House</option>
                                <option>Highway</option>
                                <option>Public Utility</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="error descriptionError hide">Did not enter a description</div>
                            <label for="description">Description:</label>
                            <textarea class="form-control input-sm" id="description" ng-model="report.description" ng-change="setDescription()"></textarea>
                        </div>

                        <div class="error addressError hide">Address is empty</div>
                        <div class="form-group">
                            <input type="text" name="address" id="address" class="form-control input-sm" placeholder="Address (Optional)" ng-model="report.address" ng-change="setAddress()" ng-maxlength="20">
                        </div>

                        <div class="error zipCodeError hide">Zipcode is empty</div>
                        <div class="error zipCodeNotNumberError hide">Zipcode is not a number</div>
                        <div class="form-group">
                            <input type="text" name="zipCode" id="zipCode" class="form-control input-sm" placeholder="Zip Code" ng-model="report.zipCode" ng-change="setZipCode()">
                        </div>

                        <div class="error crossStreet1Error hide">Cross Street 1 is incorrect</div>
                        <div class="form-group">
                            <input type="text" name="crossStreet1" id="crossStreet1" class="form-control input-sm" placeholder="First Cross Street" ng-model="report.crossStreet1" ng-change="setCrossStreet1()">
                        </div>

                        <div class="error crossStreet2Error hide">Cross Street 2 is incorrect</div>
                        <div class="form-group">
                            <input type="text" name="crossStreet2" id="crossStreet2" class="form-control input-sm" placeholder="Second Cross Street" ng-model="report.crossStreet2" ng-change="setCrossStreet2()">
                        </div>

                        <div class="submission">
                            <div class="error submissionError hide">*Please resolve above errors*</div>
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" ng-model="report.submit" ng-click="submitReport()">
                        </div>
                        <img class="loading-gif hide" src="https://2.bp.blogspot.com/-ndystUcbb1M/VgbHD_q-6GI/AAAAAAAAAIc/y9pivAG7HEI/s1600/loading3.gif">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1" ng-if="isAuthorizedToSeeReports()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="modal-button"><button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#reportingModal">Create Report</button></span>
            <span id="panelheading-text"><h3>Reports</h3></span>
        </div>
        <div class="report-loading">
            <img class="loading-gif" src="https://2.bp.blogspot.com/-ndystUcbb1M/VgbHD_q-6GI/AAAAAAAAAIc/y9pivAG7HEI/s1600/loading3.gif">
        </div>
        <div class="panel-body report-view hide" id="report-table-text">
            <table class="table  table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Address</th>
                        <th>Zipcode</th>
                    </tr>
                </thead>
                <tbody  ng-repeat="report in reports | orderBy: '-date'">
                    <tr data-toggle="collapse" data-target="#moreReport-{{ $index }}" class="accordion-toggle success">
                        <td>{{ report.date }}</td>
                        <td>{{ report.description }}</td>
                        <td>{{ report.location.address }}</td>
                        <td>{{ report.location.zip }}</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="moreReport-{{ $index }}"> 
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="danger">
                                            <th>Building Type</a></th>
                                            <th>Cross Street 1</a></th>
                                            <th>Cross Street 2</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="danger">
                                            <td>{{ report.buildingType }}</td>
                                            <td>{{ report.location.crossStreet1 }}</td>
                                            <td>{{ report.location.crossStreet2 }}</td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
