<!DOCTYPE html>
<html>
	
	<head>

		<title>GITS - Home</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!---- Custom CSS ---->
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/frontpage.css">

	</head>

	<body>

		<div class="jumbotron">
			<div class="container panel panel-default">
				<h1><b>Welcome to G.I.T.S</b></h1>
				<br>
				<br>
				<img src="../public/assets/gitslogo.png">
				<br>
				<br>
				<h3><b>The Graffiti Incident Tracking System</b></h3>
				<br>
				<br>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Who You Be?
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Law Enforcement</a></li>
						<li><a href="#">City Crew</a></li>
						<li><a href="#">Public</a></li>
					</ul>
			</div>
		</div>

	</body>

</html>