<!DOCTYPE html>
<html>
<head>
    <title>Graffiti Incident Tracking System</title>

    <!-- CDNs -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/app/stylesheets/css/style.css">

    <!-- Angular Controllers -->
    <script src="/app/javascripts/controllers/app.controllers.js"></script>
    <script src="/app/javascripts/controllers/main.js"></script>
    <script src="/app/javascripts/controllers/registration.js"></script>
    <script src="app/javascripts/controllers/login.js"></script>
    <script src="/app/javascripts/controllers/reports.js"></script>
    <script src="/app/javascripts/controllers/incidents.js"></script>
    <script src="/app/javascripts/controllers/navigationbar.js"></script>

    <!-- Angular Services -->
    <script src="/app/javascripts/services/app.services.js"></script>
    <script src="/app/javascripts/services/admin.js"></script>
    <script src="/app/javascripts/services/auth.js"></script>
    <script src="/app/javascripts/services/report.js"></script>
    <script src="/app/javascripts/services/incident.js"></script>
    <script src="/app/javascripts/services/supervisor.js"></script>
    <script src="/app/javascripts/services/suspect.js"></script>

    <!-- Main Angular Module -->
    <script src="/app/javascripts/app.module.js"></script>
</head>

<body ng-app="gitsApp" class="main">
    <div ui-view="navigation-bar"></div>
    <div class="main-view" ui-view="main-view"></div> 
</body>
</html>